.header__nav{
  display: flex;
  justify-content: space-between;
  padding-block: 50px;

}

.main-logo{ transition: transform 0.3s ease-in-out; }

.main-logo:hover{ transform: scale(1.2); }

.header__links{
  display: flex;

}

.header__links ul li{
  list-style: none;
  font-family: var(--main-font);

}

.header__links ul li a{ 
  color: var(--dark-grayish-blue);

}

.header__links ul li a:hover{
  color: var(--grayish-blue);

}

.layout{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 1.2rem;

}
  
.layout__hero-img{
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;

}

.layout__hero-img img{
  width: 100%;
  height: auto;

}

.layout__sidebar{
  grid-row: span 4 / span 4;
  grid-column-start: 3;
  margin-bottom: 2rem;
  background-color: var(--very-dark-blue);
  padding: 2rem;
  
}

.sidebar__title{
  color: var(--soft-orange);

}

.sidebar__article h3{
  color: var(--off-white);

}

.sidebar__article h3:hover{ color: var(--soft-orange); cursor: pointer; }

.sidebar__article{
  margin-bottom: 50px;
  
}

.sidebar__article p{
  color: var(--grayish-blue);

}

.layout__hero-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  grid-column: span 2 / span 2;
  grid-row: span 2 / span 2;
  grid-row-start: 3;
  align-items: end;
  margin-bottom: 2rem;

}

.layout__hero-title h1{
  color: var(--very-dark-blue);
  font-size: 3rem;

}

.layout__hero-content{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-inline-end: 2rem;
  align-items: flex-start;
  height: 100%;

}

.layout__hero-button{
  font-family: var(--main-font);
  font-weight: 600;
  font-size: 0.7rem;
  letter-spacing: 3px;
  text-transform: uppercase;
  box-shadow: none;
  background-color: var(--soft-red);
  color: #000;
  padding-inline: 2rem;
  border: none;
  padding-block: 0.7rem;

}

button:hover{ color: var(--off-white); background-color: var(--very-dark-blue); }

.layout__cards-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-column: span 3 / span 3;
  grid-row: span 2 / span 2;
  grid-row-start: 5;

}

.layout__cards{
  display: flex;
  align-items: center;
  gap: 1rem;

}

.layout__cards img{
  object-fit: cover;
  width: 200px;
  height: 170px;

}

.layout__cards-content{
  display: flex;
  flex-direction: column;
  padding: 1rem;

}

.layout__cards-number{
  color: var(--soft-red);
  font-size: 2rem;
  font-weight: var(--fw-bold);

}

.layout__cards-title{
  font-size: 1.2rem;

}

.layout__cards-title:hover{ color: var(--soft-red); cursor: pointer; }

.attribution{ 
  font-weight: var(--fw-bold);
  font-size: 0.6875rem; 
  text-align: center; 
  margin-top: 2rem; 
  font-family: var(--main-font); 

}

@media (max-width: 430px){
  .header__nav{
    display: none;

  }

  .header__nav--mobile{
    display: flex;
    justify-content: space-between;
 
  }

  .main-logo--mobile{
    padding: 0.5rem;
    height: auto;
    width: auto;

  }

  .offcanvas{
    --bs-offcanvas-width: 300px;

  }

  .offcanvas-header{
    display: flex;
    justify-content: flex-end;

  }

  .header__nav--mobile button{
    padding: 1rem;
    background-color: transparent;
    box-shadow: none;
    border: none;

  }

  .offcanvas-body ul li{
    list-style: none;

  }

  .offcanvas-body ul li a{
    font-size: 1.5rem;
    font-family: var(--main-font);
    color: var(--very-dark-blue);

  }

  .layout{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;

  }

  .layout__hero-container{
    order: 1;
    display: flex;
    flex-direction: column;
    align-items: self-start;

  }

  .layout__sidebar{
    order: 2;

  }

  .layout__cards-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 3;

  }
  
  .layout__cards{
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .layout__cards img{
    width: 120px;
    height: auto;
  
  }

  .layout__hero-content{
    padding-inline-end: 0;
  
  }

}

@media (min-width: 431px){
  .header__nav--mobile{
    display: none;

  }

}